@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        @apply font-sans text-base bg-sky-400;
    }

    input {
        margin-bottom: 0.5rem;
    }
    input[type="date"] {
        padding: 0 0.5rem;
        background-color: transparent;
        cursor: pointer;
    }
    input[type="date"]:after {
        content: "📅";
    }
    input[type="text"],
    select,
    textarea {
        font: 1.25rem / 1.5 sans-serif;
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding: 0.5rem 0.75rem;
    }
}

@layer components {
    .main {
        @apply max-w-screen-lg mx-auto drop-shadow-lg bg-white h-screen;
    }

    .head {
        @apply text-2xl p-6 bg-sky-600 text-stone-50;
    }

    .btn {
        @apply pl-4 pr-4 pt-1 pb-1 rounded text-lg bg-gray-400 text-gray-800;
    }

    .btn-message {
        @apply pl-4 pr-4 pt-1 pb-1 text-lg;
    }

    .btn-primary {
        @apply bg-sky-600 text-stone-50;
    }

    .btn-primary:disabled {
        @apply bg-gray-600 text-gray-200;
    }

    .calendar-month {
        @apply grid grid-cols-7 justify-center w-full p-6 pt-0;
    }

    .calendar-month .cell {
        @apply text-center;
    }

    .calendar-month .cell .day {
        @apply inline-block rounded-full bg-gray-50 w-10 h-10 inline-flex justify-center items-center m-2;
    }
}